# Laboratorio: Aprendizaje Supervisado

## ¿A dónde realizan su primera reserva los nuevos usuarios de Airbnb?

Durante este práctico vamos a trabajar con todos los datos provistos por [Airbnb New User Bookings](https://www.kaggle.com/c/airbnb-recruiting-new-user-bookings/data) en Kaggle.

## Objetivo y alcance:

En este laboratorio vamos a aplicar todo lo aprendido en las materias previas y lo vamos a complementar con lo aprendido en la materia de __Aprendizaje Supervisado__. La idea principal es poder armar una notebook completa, partiendo desde el preprocesamiento y curación de los datos, hasta la elección final de un modelo y su posterior testeo.

Tal vez este laboratorio sea un poco más extenso que los anteriores, pero eso se debe a que estamos uniendo las diferentes *piezas* de un proyecto de aprendizaje supervisado.

## Estructura del informe:

  * Jupyter Notebook con el análisis realizado.
  
---

## Introducción:

En el presente laboratorio, vamos a tomar como referencia el siguiente [Notebook Ejemplo](https://www.kaggle.com/malgoro39/predicci-n-de-destinos-airbnb). En dicho notebook, el autor realiza un análisis exhaustivo y además explica de una manera muy didáctica las decisiónes tomadas y los conceptos teóricos involucrados. 

Tratemos de imitar y mejorar el trabajo realizado :)

En este caso, vamos a trabajar con todos los datos originales de __Airbnb__:
* __ager_gender_bkts.csv__
* __countries.csv__
* __sessions.csv__
* __test_users.csv__ / __test_users_2.csv__

Por una cuestión de tamaño de los datasets, éstos se encuentran comprimidos en el archivo __/Datos/original_data.zip__. Además la notebook de ejemplo se encuentra en __/Notebooks/Ejemplos/Ejemplo_Laboratorio_Supervisado.ipynb__.

## Tareas:

1. __Análisis y Visualización de datos__: Realizar un breve análisis de los datasets antes mencionados.
2. __Curación de datos__: Realizar la correspondiente curación de los mismos.
3. __Feature Engineering__: Tomando como ejemplo la notebook antes mencionada aplicar un poco de ingeniería de features, por ejemplo: generar nuevos features, mergear datasets, etc.
4. __Selección de un modelo de Aprendizaje Supervisado__: Aplicar distintos modelos de aprendizaje supervisado al dataset generado en el punto anterior.
5. __Ajuste de hiperparámetros__: Realizar una búsqueda de hiperparámetros que permitan mejorar la clasificación de los modelos escogidos.
6. __Testing de precisión__: Medir la precisión de cada uno de tus modelos (con datos no conocidos).
7. __¿Qué modelo generó los mejores resultados?__

## 1. Análisis y Visualización de datos

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset_path = "..//datos//"

### Countries

In [4]:
countries_df = pd.read_csv(dataset_path+"countries.csv") 
countries_df.describe()

,lat_destination,lng_destination,distance_km,destination_km2,language_levenshtein_distance
count,10.000000,10.000000,10.000000,1.000000e+01,10.00000
mean,39.799398,-4.262446,7181.897800,2.973734e+06,50.49900
std,24.739112,63.700585,3941.141734,4.329619e+06,44.54169
min,-26.853388,-96.818146,0.000000,4.154300e+04,0.00000
25%,39.639090,-6.737559,7001.557600,2.580425e+05,0.00000
50%,44.053092,-0.139014,7603.632650,4.311960e+05,67.91500
75%,51.891219,9.163386,7842.357000,5.966865e+06,91.39500
max,62.393303,133.275160,15297.744000,9.984670e+06,95.45000

In [5]:
countries_df

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

### Sessions

In [6]:
sessions_df = pd.read_csv(dataset_path+"sessions.csv") 
sessions_df.describe()

       secs_elapsed
count  1.043171e+07
mean   1.940581e+04
std    8.888424e+04
min    0.000000e+00
25%    2.290000e+02
50%    1.147000e+03
75%    8.444000e+03
max    1.799977e+06

In [7]:
sessions_df.head(10)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115.0
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683.0

In [8]:
len(sessions_df)

10567737

Verificamos si hay valores nulos en el dataset

In [9]:
sessions_df.isnull().sum()

user_id            34496
action             79626
action_type      1126204
action_detail    1126204
device_type            0
secs_elapsed      136031
dtype: int64

In [31]:
sessions_df[ sessions_df.user_id.isnull() == False ].head(15)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115.0
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683.0
10,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,59274.0
11,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,95.0
12,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1399.0
13,d1mm9tcy42,index,view,view_search_results,Windows Desktop,74886.0
14,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,255.0

In [25]:
len(sessions_df.action.unique())

360

Veamos el campo __action__ y su relacion con __action_type__ y __action_detail__

In [26]:
sessions_df.action.unique()

array(['lookup', 'search_results', 'personalize', 'index',
       'similar_listings', 'ajax_refresh_subtotal', 'show',
       'header_userpic', 'ask_question', nan,
       'other_hosting_reviews_first', 'hosting_social_proof',
       'decision_tree', 'recent_reservations', 'faq_experiment_ids',
       'multi', 'active', 'dashboard', 'create', 'confirm_email',
       'show_personalize', 'verify', 'pending', 'requested', 'concierge',
       'faq', 'clear_reservation', 'cancellation_policies',
       'track_page_view', 'update', 'my', 'campaigns', 'notifications',
       'listings', 'unavailabilities', 'ajax_lwlb_contact',
       'ajax_check_dates', 'qt2', 'request_new_confirm_email',
       'ajax_photo_widget_form_iframe', 'facebook_auto_login', 'identity',
       'qt_reply_v2', 'travel_plans_current', 'complete_status',
       'populate_from_facebook', 'kba_update', 'kba', 'login',
       'authenticate', 'calendar_tab_inner2', 'other_hosting_reviews',
       'social_connections', 'relationship', '15', 'collections', '12',
       'jumio_redirect', 'jumio_token', 'login_modal', 'domains',
       'toggle_archived_thread', 'search', 'edit_verification', 'edit',
       'ajax_ldp', 'connect', 'account', 'delete', 'phone_number_widget',
       'callback', 'signup_modal', '10', 'open_graph_setting', 'reviews',
       'signup_login', 'payment_instruments', 'payment_methods', 'pay',
       'unread', 'at_checkpoint', 'push_notification_callback',
       'faq_category', 'localization_settings', 'update_notifications',
       'manage_listing', 'set_user', 'references',
       'languages_multiselect', 'salute', 'rentals', 'currencies', 'new',
       'position', 'populate_help_dropdown', 'popular', 'popular_listing',
       'listing', 'available', 'glob', 'this_hosting_reviews', 'widget',
       'complete', 'profile_pic', 'signature', 'apply_reservation',
       'ajax_statsd', 'travel', 'tos_confirm', 'uptodate',
       'ajax_payout_options_by_country', 'payout_preferences',
       'payout_update', 'ajax_payout_edit', 'pending_tickets', 'issue',
       'contact_new', 'itinerary', 'receipt',
       'update_hide_from_search_engines', 'settings', 'privacy',
       'reviews_new', 'add_guests', 'ajax_image_upload', 'qt_with',
       'webcam_upload', 'friends', 'ajax_google_translate_description',
       'trust', 'guarantee', 'supported', 'countries', 'status', 'upload',
       'authorize', 'rate', 'remove_dashboard_alert', 'ajax_get_results',
       'recommend', 'change_currency', 'transaction_history_paginated',
       'transaction_history', 'set_password', 'cancel',
       'phone_verification_modal', 'submit_contact', 'detect_fb_session',
       'tell_a_friend', 'change', 'clickthrough',
       'multi_message_attributes', 'update_friends_display',
       'my_listings', 'email_itinerary_colorbox', 'mobile_landing_page',
       'create_ach', 'country_options', '11', 'host_2013', 'terms',
       'multi_message', 'ajax_send_message', 'airbnb_picks',
       'friends_new', 'reputation', 'complete_redirect',
       'toggle_starred_thread', 'email_share', 'email_wishlist',
       'destroy', 'add_note', 'overview', 'requirements',
       'update_reservation_requirements', 'image_order', 'review_page',
       'ajax_worth', 'place_worth', 'google_importer',
       'change_availability', 'hospitality', 'change_password', 'feed',
       'host_summary', 'ajax_price_and_availability', 'jumio',
       'guest_booked_elsewhere', 'about_us', 'founders',
       'travel_plans_previous', 'why_host', 'hospitality_standards',
       'social', 'recommendations', 'update_cached', 'become_user',
       'departments', 'department', 'office_location', 'photography',
       'preapproval', 'maybe_information', 'toggle_availability',
       'payoneer_account_redirect', 'forgot_password', 'new_host',
       'payoneer_signup_complete', 'ajax_google_translate', 'onenight',
       'approve', 'nyan', 'booking', 'payout_delete',
       'change_default_payout', 'envoy_bank_details_redirect', 'respond',
       'request_photography', 'zendesk_login_jwt', 'ajax_photo_widget',
       'message', 'southern-europe', 'life', 'press_release',
       'media_resources', 'press_news', 'referrer_status',
       'create_multiple', 'load_more', 'create_paypal',
       'locale_from_host', 'terms_and_conditions', 'invalid_action',
       'photography_update', 'badge', 'apply', 'redirect', 'pricing',
       'apply_code', 'slideshow', 'locations',
       'ajax_google_translate_reviews', 'new_session', 'has_profile_pic',
       'sublets', 'wishlists', 'reservation', 'localized',
       'home_safety_landing', 'click', 'how_it_works',
       'ajax_get_referrals_amt', 'phone_verification', 'satisfy',
       'city_count', 'recommendation_page', 'press_content',
       'guest_billing_receipt', 'ajax_payout_split_edit',
       'print_confirmation', 'envoy_form',
       'ajax_special_offer_dates_available',
       'ajax_referral_banner_experiment_type', 'patch', 'questions',
       'home_safety_terms', 'track_activity', 'check', 'sldf',
       'recommended_listings', 'mobile_oauth_callback', 'show_code',
       'signed_out_modal', 'plaxo_cb', 'views', 'friend_listing',
       'ajax_referral_banner_type', 'deactivate', 'sync', 'social-media',
       'united-states', 'email_by_key', 'disaster_action',
       'views_campaign', 'update_message', 'spoken_languages',
       'use_mobile_site', 'deauthorize', 'special_offer',
       'top_destinations', 'create_airbnb', 'handle_vanity_url',
       'impressions', 'message_to_host_focus',
       'cancellation_policy_click', 'message_to_host_change',
       'agree_terms_check', 'read_policy_click',
       'phone_verification_success',
       'phone_verification_number_sucessfully_submitted',
       'phone_verification_number_submitted_for_sms',
       'phone_verification_phone_number_removed', 'endpoint_error',
       'p4_refund_policy_terms', 'apply_coupon_error_type',
       'apply_coupon_error', 'apply_coupon_click', 'coupon_field_focus',
       'coupon_code_click', 'agree_terms_uncheck', 'p4_terms',
       'phone_verification_call_taking_too_long',
       'phone_verification_number_submitted_for_call',
       'phone_verification_error', 'apply_coupon_click_success',
       'set_default', 'update_country_of_residence',
       'open_hard_fallback_modal', 'tos_2014', 'views_campaign_rules',
       'weibo_signup_referral_finish', 'signup_weibo_referral',
       'similar_listings_v2', 'confirmation', 'signup_weibo',
       'acculynk_load_pin_pad', 'acculynk_bin_check_success',
       'acculynk_session_obtained', 'acculynk_pin_pad_inactive',
       'reactivate', 'airbrb', 'desks', 'sandy', 'unsubscribe',
       'host_cancel', 'acculynk_bin_check_failed',
       'acculynk_pin_pad_error', 'custom_recommended_destinations',
       'this_hosting_reviews_3000', 'reset_calendar', 'events',
       'business_travel', 'add_guest_colorbox', 'hard_fallback_submit',
       'add_business_address_colorbox', 'my_reservations', 'report',
       'book', 'revert_to_admin', 'acculynk_pin_pad_success',
       'south-america', 'braintree_client_token', 'view', 'stpcv',
       'set_minimum_payout_amount', 'support_phone_numbers',
       'refund_guest_cancellation', 'accept_decline', 'deactivated',
       'rest-of-world'], dtype=object)

In [27]:
len(sessions_df.action_type.unique())

11

In [42]:
sessions_df.action_type.unique()

array([nan, 'click', 'data', 'view', 'submit', 'message_post',
       '-unknown-', 'booking_request', 'partner_callback',
       'booking_response', 'modify'], dtype=object)

In [29]:
len(sessions_df.action_detail.unique())

156

In [30]:
sessions_df.action_detail.unique()

array([nan, 'view_search_results', 'wishlist_content_update',
       'similar_listings', 'change_trip_characteristics', 'p3',
       'header_userpic', 'contact_host', 'message_post', '-unknown-',
       'dashboard', 'create_user', 'confirm_email_link',
       'user_profile_content_update', 'user_profile', 'pending', 'p5',
       'create_phone_numbers', 'cancellation_policies', 'user_wishlists',
       'change_contact_host_dates', 'wishlist', 'message_thread',
       'request_new_confirm_email', 'send_message', 'your_trips',
       'login_page', 'login', 'login_modal', 'toggle_archived_thread',
       'p1', 'profile_verifications', 'edit_profile', 'oauth_login',
       'post_checkout_action', 'account_notification_settings',
       'update_user_profile', 'oauth_response', 'signup_modal',
       'signup_login_page', 'at_checkpoint', 'manage_listing',
       'create_listing', 'your_listings', 'profile_references',
       'list_your_space', 'popular_wishlists', 'listing_reviews_page',
       'apply_coupon', 'user_tax_forms', 'account_payout_preferences',
       'guest_itinerary', 'guest_receipt', 'account_privacy_settings',
       'lookup_message_thread', 'friends_wishlists', 'host_guarantee',
       'delete_phone_numbers', 'account_transaction_history',
       'set_password', 'guest_cancellation', 'change_or_alter',
       'your_reservations', 'terms_and_privacy', 'airbnb_picks_wishlists',
       'toggle_starred_thread', 'email_wishlist', 'email_wishlist_button',
       'wishlist_note', 'calculate_worth', 'place_worth',
       'change_password', 'alteration_field', 'previous_trips',
       'update_listing', 'update_listing_description', 'user_reviews',
       'update_user', 'notifications', 'user_social_connections',
       'unavailable_dates', 'reservations', 'listing_reviews',
       'user_listings', 'signup', 'message_inbox', 'trip_availability',
       'payment_instruments', 'admin_templates', 'host_home',
       'translations', 'forgot_password', 'homepage',
       'remove_dashboard_alert', 'user_friend_recommendations',
       'confirm_email', 'host_respond', 'booking',
       'respond_to_alteration_request', 'alteration_request',
       'create_alteration_request', 'delete_listing', 'set_password_page',
       'delete_listing_description', 'translate_listing_reviews',
       'book_it', 'instant_book', 'request_to_book', 'complete_booking',
       'change_availability', 'special_offer_field',
       'listing_recommendations', 'view_listing', 'listing_descriptions',
       'user_languages', 'p4', 'message_to_host_focus',
       'cancellation_policy_click', 'message_to_host_change',
       'read_policy_click', 'phone_verification_success',
       'p4_refund_policy_terms', 'apply_coupon_error',
       'apply_coupon_click', 'coupon_field_focus', 'coupon_code_click',
       'p4_terms', 'apply_coupon_click_success', 'tos_2014',
       'view_reservations', 'view_locations', 'modify_users',
       'view_security_checks', 'phone_numbers', 'profile_reviews',
       'modify_reservations', 'view_resolutions',
       'account_payment_methods', 'create_payment_instrument',
       'set_default_payment_instrument', 'delete_payment_instrument',
       'photos', 'click_reviews', 'move_map', 'share',
       'cancellation_policy', 'click_about_host', 'click_amenities',
       'host_refund_guest', 'host_respond_page', 'view_user_real_names',
       'view_identity_verifications', 'view_ghosting_reasons',
       'view_ghostings', 'host_standard_suspension',
       'deactivate_user_account'], dtype=object)

Verificamos que, si __action_type__ es null, tambien lo es __action_detail__

In [43]:
sessions_df[ sessions_df.action_type.isnull() == True ].action_detail.unique()

array([nan], dtype=object)

Veamos que valores hay para __action__ cuando __action_type__ es nulo

In [44]:
sessions_df[ sessions_df.action_type.isnull()].action.unique()

array(['lookup', 'show', 'track_page_view', 'widget', 'uptodate', 'index',
       'campaigns', 'currencies', 'localization_settings', 'update',
       'phone_verification', 'satisfy', 'track_activity', 'check',
       'signed_out_modal', 'disaster_action', 'similar_listings_v2',
       'braintree_client_token'], dtype=object)

In [45]:
sessions_df[ sessions_df.action.isnull()].action_type.unique()

array(['message_post'], dtype=object)

Analicemos el __user_id__, porque puede dejar elementos fuera del merge con usuarios

In [36]:
len(sessions_df[sessions_df.user_id.isnull() == True]) / len(sessions_df)

0.003264275028797556

La proporcion de user_id en null, es baja (3%). Vamos a eliminarlos

In [38]:
sessions_df.dropna(subset=['user_id'], inplace=True)

In [39]:
len(sessions_df[sessions_df.user_id.isnull() == True]) / len(sessions_df)

0.0

In [40]:
sessions_df.isnull().sum()

user_id                0
action             79480
action_type      1122957
action_detail    1122957
device_type            0
secs_elapsed      135483
dtype: int64

In [41]:
len(sessions_df)

10533241

### Age_Gender_Bkts

In [8]:
age_gender_df = pd.read_csv(dataset_path+"age_gender_bkts.csv") 
age_gender_df.describe()

       population_in_thousands    year
count               420.000000   420.0
mean               1743.133333  2015.0
std                2509.843202     0.0
min                   0.000000  2015.0
25%                 396.500000  2015.0
50%                1090.500000  2015.0
75%                1968.000000  2015.0
max               11601.000000  2015.0

In [9]:
age_gender_df.head(10)

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0
5      75-79                  AU   male                    298.0  2015.0
6      70-74                  AU   male                    415.0  2015.0
7      65-69                  AU   male                    574.0  2015.0
8      60-64                  AU   male                    636.0  2015.0
9      55-59                  AU   male                    714.0  2015.0

In [10]:
len(age_gender_df)

420

Verificamos si hay valores nulos en el dataset

In [14]:
age_gender_df.isnull().sum()

age_bucket                 0
country_destination        0
gender                     0
population_in_thousands    0
year                       0
dtype: int64

### Test_users

In [11]:
train_users_df = pd.read_csv(dataset_path+"test_users.csv") 
train_users_df.describe()

       timestamp_first_active  date_first_booking           age   signup_flow
count            6.209600e+04                 0.0  33220.000000  62096.000000
mean             2.014081e+13                 NaN     37.616677      7.813885
std              8.024585e+07                 NaN     74.440647     11.254291
min              2.014070e+13                 NaN      1.000000      0.000000
25%              2.014072e+13                 NaN     26.000000      0.000000
50%              2.014081e+13                 NaN     31.000000      0.000000
75%              2.014091e+13                 NaN     40.000000     23.000000
max              2.014093e+13                 NaN   2002.000000     25.000000

In [12]:
len(train_users_df)

62096

In [13]:
train_users_df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari